{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCODEC</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css"/>
</head>
<body>
    <div class="imagem">
        <img src="{% static 'images/Imagem1.jpeg'%}" alt="image" height="50px">
    </div>
    <div class="header">
        <p>Olá, {{ request.user.email }}, seja Bem-vindo!</p>
        <a href="{% url 'pagina1' %}" style="color: #002257; margin-right: 15px;" target="_blank"> Página 1</a>
        <a href="{% url 'pagina2' %}" style="color: #002257; margin-right: 15px;" target="_blank"> Página 2</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" style="color: #002257; margin-right: 15px;" target="_blank"> SAIR</a>
        {% endif %}
    </div>
    <div class="container">
        {% block conteudo %}
        
        {% endblock %}
    </div>
    <div class="links">
        <a href="https://github.com/italodasilva" style="color: #002257; margin-right: 15px;" target="_blank"><i class="fa-brands fa-github"></i> GIT HUB</a>
        <a href="https://instagram.com/italoaugusto.ds?igshid=YmMyMTA2M2Y=" style="color: #002257; margin-right: 15px;" target="_blank"><i class="fa-brands fa-instagram"></i> INSTAGRAM</a>
        <a href="https://www.linkedin.com/in/Italoaugusto-ds" style="color: #002257;" target="_blank"><i class="fa-brands fa-linkedin"></i> LINKEDIN</a>
    </div>   
</body>
</html>